PORT=3004

DB_HOST=your_railway_mysql_host
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_railway_mysql_password
DB_NAME=payment_db

XENDIT_SECRET_KEY=xnd_production_xxxx_ganti_dengan_key_production
XENDIT_CALLBACK_TOKEN=ganti_dengan_token_baru
BOOKING_SERVICE_URL=https://your-booking-service.railway.app
JWT_SECRET=ganti_dengan_random_string_panjang
